.List {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: black;
  height: 100%;
}

.List-Link {
  width: 100%;
}

.List-location {
  width: 100%;
  box-sizing: border-box;
}

.List-location.List-location__saved {
  border: solid #E0C348;
  border-width: 2px 3px;
}

.List-location-image {
	background-color: black;
	background-size: cover;
	background-position: center;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'https://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
  filter: grayscale(100%) contrast(1.1);
  width: 100%;
  margin: 0px;
  padding-bottom: 62%;
  position: relative;
}

.List-location__touch, .List-location:hover {
	/* filter: grayscale(0%); */
}
.List-location-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.25);
  width: 100%;
  height: 100%;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}
.List-location__touch .List-location-overlay {
  /* background-color: rgba(0,0,0,0);
	transition: all 0.5s;
	transition-delay: 0.5s; */
}
.List-location-overlay h3 {
	color: white;
	font-size: 1.5rem;
	margin: 0px;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.List-location-distance {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  color: white;
  font-size: 0.8rem;
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .List-Link {
    width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .List-Link {
    width: 33.33333%;
  }
}