.Location {
}
.Location-is-open {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 10px auto;
  background-color: #AF001D;
}
.Location-is-open:after {
  content: '.';
  visibility: hidden;
}
.Location-is-open__true {
  background-color: #168C5A;
}
.Location-hours {
  padding-left: 0px;
  list-style: none;
  margin: 0 auto;
}
.Location-hours li, .Location aside {
  font-size: 0.7rem;
  line-height: 1.5;
}
.Location-image img {
	max-width: 100%;
}
.Location-image__saved img {
  border: solid #E0C348;
  border-width: 2px 3px;
  box-sizing: border-box;
}
.Location-description p {
	text-align: center;
	padding: 0.75rem 1rem;
	line-height: 1.4;
}
.Location-Map {
  width: 100%;
  height: 300px;
  padding-top: 1rem;
}
.Location-Map .LocationMap {
  padding-top: 0rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .Location {
    padding-top: 2.5rem;
    max-width: 660px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1240px) {
  .Location {
    max-width: 960px;
  }
}