.LocationMap {
	padding-top: 2.5rem;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	text-align: left;
}
.map-gl {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup-content {
	font-family: 'Landnama';
	background-color: black;
	color: white;
	font-size: 1rem;
	margin-left:10px;
	margin-bottom: -12px;
}
.mapboxgl-popup-tip {
	display: none;
}
.mapboxgl-popup-content h2 {
	cursor: pointer;
	margin: 0px 20px 0px 5px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: black;
}
.mapboxgl-popup-close-button {
	color: white;
	font-size:25px;
	right: 3px;
}