.LocationMap {
	height: 100%;
	padding-top: 2.5rem;
	position: absolute;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
}
.gm-style-iw {
	font-family: 'Landnama';
	color: black;
	font-size: 1rem;
	padding: 0px;
	margin: 0px;
}
.gm-style-iw > div {
	padding: 0px;
}