.Start {
	background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/icons/bratwurst.gif');
  z-index: 99;
  position: fixed;
  opacity: 1;
  transition: opacity 0.5s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Start__hidden {
  opacity: 0;
  pointer-events: none;
}

.Start span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
  color: white;
  font-size: 2.5rem;
  padding: 0.75rem;
  height: 4.5rem;
  width: 100%;
  text-align: center;
}

.Start-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 4rem;
  width: auto;
  vertical-align: middle;
}