.Header {
  background-color: black;
  color: white;
  padding: 0.5rem 0.6rem 0.3rem 0.8rem;
  height: 2.5rem;
  text-align: left;
  z-index: 13;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  cursor: pointer;
}

.Header h1 {
  font-size: 1rem;
  line-height: 1.7rem;
  z-index: 13;
  margin: 0;
}
